html, body {
	height: 100%;
	margin: 0;
}
body { 
	padding: 0; 
	margin: 0; 
} 
#map { 
	min-height: 320px; 
	height: 100%; 
	width: 100vw; 
}
.card {
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}
.card-text {
	margin-left: 10px;
}

textarea {
    resize: none;
}

#spinnerModal {
    position:   fixed;
    z-index:    1001;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('ajax-loader.gif') /* courtesy http://ajaxload.info/ */
                50% 50% 
                no-repeat;
}